<div class="mb-3">
    <label for="brandText" class="form-label"></label>
    <input type="text" [(ngModel)]="brandText" class="form-control" id="brandText"
        placeholder="Marka arayın" />
</div>

<div *ngIf="brandText" class="alert alert-success">
    {{ brandText }} Aradınız.
</div>
<ul class="list-group">
    <li (click)="setCurrentBrand(brand)" routerLink="/products/brand/{{ brand.brandId }}"
        *ngFor="let brand of brands | brandPipe: brandText" [class]="getCurrentBrandClass(brand)">
        {{ brand.brandName }}
    </li>
</ul>