<!-- <div class="container">

    <app-navi></app-navi>
    <div class="row">
        <div class="col-md-3">
            <app-category></app-category>
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

 -->
<div class="container">
  <app-navi></app-navi>
  <div class="row">
    <div class="col-md-3">
      <h4>Markalar</h4>
      <app-brand></app-brand>
      <!-- <h4>Kategoriler</h4>
      <app-category></app-category> -->
    </div>
    <div class="col-md-9">
      <h4>Ürünler</h4>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


